

$primary-color: #1DB954;
$primary-color-hover: #1ED75F;

$font-light: #FFF;
$font-white: #FFF;
$font-grey: #9E9E9E;
$font-gray: #9E9E9E;
$font-dark: #000;

$background-primary: $primary-color;

$background-white: #fff;
$background-grey: #2d2d2d;
$background-grey-light: #3b3b3b;
$background-grey-dark: #101010;
$background-grey-dark-light: #141414;
$background-dark: #000;

$background-grey-light-over: #494949;
$background-gray-hover: #3c3c3c;

$danger: #f00;